<!DOCTYPE html>
<html>
<head>
	<title>Shop Homepage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
    body {
      padding-left: 400px;
      background-image: url(https://w.wallhaven.cc/full/pk/wallhaven-pk38ee.jpg);
      background-attachment:fixed;
      background-color: aqua;
      background-size: 100%;
    }
</style>
</head>
<body>
	<br>
	<h1><a href="{% url 'index' %}">PyShop</a></h1>
	<br>
	<div class="mstyle"></div>
	{% block content %}
	{% endblock %}
</body>
</html>